@font-face {
  font-family: Montserrat;
  src: url(~/assets/fonts/montserrat/Montserrat-Thin.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(~/assets/fonts/montserrat/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(~/assets/fonts/montserrat/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url(~/assets/fonts/montserrat/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: local("☺"), 
      url(~/assets/fonts/poppins/Poppins-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: local("☺"),
      url(~/assets/fonts/poppins/Poppins-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(~/assets/fonts/poppins/Poppins-Regular.eot);
  src: local("☺"), url(~/assets/fonts/poppins/Poppins-Regular.woff) format("woff"),
      url(~/assets/fonts/poppins/Poppins-Regular.ttf) format("truetype"),
      url(~/assets/fonts/poppins/Poppins-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(~/assets/fonts/poppins/Poppins-LightItalic.eot);
  src: local("☺"), url(~/assets/fonts/poppins/Poppins-LightItalic.woff) format("woff"),
      url(~/assets/fonts/poppins/Poppins-LightItalic.ttf) format("truetype"),
      url(~/assets/fonts/poppins/Poppins-LightItalic.svg) format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(~/assets/fonts/poppins/Poppins-Medium.eot);
  src: local("☺"), url(~/assets/fonts/poppins/Poppins-Medium.woff) format("woff"),
      url(~/assets/fonts/poppins/Poppins-Medium.ttf) format("truetype"),
      url(~/assets/fonts/poppins/Poppins-Medium.svg) format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(~/assets/fonts/poppins/Poppins-SemiBold.eot);
  src: local("☺"), url(~/assets/fonts/poppins/Poppins-SemiBold.woff) format("woff"),
      url(~/assets/fonts/poppins/Poppins-SemiBold.ttf) format("truetype"),
      url(~/assets/fonts/poppins/Poppins-SemiBold.svg) format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(~/assets/fonts/poppins/Poppins-Bold.eot);
  src: local("☺"), url(~/assets/fonts/poppins/Poppins-Bold.woff) format("woff"),
      url(~/assets/fonts/poppins/Poppins-Bold.ttf) format("truetype"),
      url(~/assets/fonts/poppins/Poppins-Bold.svg) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
