@mixin set-container-width($block-name) {

  #{$block-name} {
    &_container {
      max-width: 540px;
      width: 100%;
    }
  }

  @media (min-width: 576px) {
     #{$block-name} {
       &_container {
         max-width: 540px;
       }
     }
  }

  @media (min-width: 768px) {
    #{$block-name} {
       &_container {
         max-width: 720px;
        }
    }
  }

  @media (min-width: 992px) {
    #{$block-name} {
        &_container {
          max-width: 960px;
        }
    }
  }

  @media (min-width: 1200px) {
    #{$block-name} {
        &__container {
          max-width: 1140px;
        }
    }
  }

  @media (min-width: 1400px) {
    #{$block-name} {
        &_container {
          max-width: 1320px;
        }
    }
  }
}