:root {
  /********************** agroaurora Colors *****************/
  //main colors 
  --agroaurora-color-1: #0E1D42;
  --agroaurora-color-2: #159E3C;
  --agroaurora-color-3: #FFFFFF;
  --agroaurora-color-4: #000000;
  --agroaurora-color-5: #0B4E1E;

  //background colors
  --agroaurora-color-6: #00000040;
  --agroaurora-color-7: #B2B5BC48;
  --agroaurora-color-8: #0e1d4214;
  --agroaurora-color-9: #0E1D4233;
  --agroaurora-color-10: #00000033;
  --agroaurora-color-11: #123DA924;
  --agroaurora-color-12: #159E3C20;
  --agroaurora-color-13: #159E3C14; 
  --agroaurora-color-14: #0E1D42A3;
  --agroaurora-color-15: #333333A1;

  //Others Colors 
  --agroaurora-color-16: #53BE71; 
  --agroaurora-color-17: #D9D9D9; 
  --agroaurora-color-18: #F5F6FF;
  --agroaurora-color-19: #00000040;
  --agroaurora-color-20: #091229B2;
  --agroaurora-color-21:#159e3c1c;
  --agroaurora-color-22:rgba(21, 158, 60, 0.877);
  --agroaurora-color-23 :#159E3C5D;
  --agroaurora-color-24: #00000067;
  --agroaurora-color-25: #000000d0;
  --agroaurora-color-26: #123DA90E;
  --agroaurora-transparent-1: rgba(19, 19, 71, 0.2);  

}
